.idea
.vscode
.DS_Store
*.swp
*.swo 
*.tmp
*.exe
*.exe~
*.log
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test
metaAPI
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
Dockerfile
# Dependency directories (remove the comment below to include it)
# vendor/
swagger.zip